<form action="{{action}}" method="POST">
  <h2>Login</h2>
  <label for="email">Email</label>
  <input type="text" name="email" id="email" value="" />
  <label for="password">Password</label>
  <input type="password" name="password" id="password" value="" />
  <br /><br />
  <input type="submit" id="submit" value="Login" />
</form>